/* Navigation */
.logo {
  display: inline-block;
  margin-right: 500px;
  position: relative;
}
.navigation a {
  text-decoration: none;
  color: black;
  padding: 12px, 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
}

.navigation {
  padding: 20px, 100px;
}

.head {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/06/11/24/fashion-2208045_960_720.jpg");
  padding: 20px, 100px;
}

.image {
  position: absolute;
}
.container {
 max-width: 4000px;
}

.head-inner {
  padding-top: 200px;
  text-align: center;
  min-height: 400px;
}

a.btn {
  background-color: #fed136;
  padding: 10px;
  color: white;
}

.page-subtitle {
  font-sieze: 48px;
}

/* SERVICES */

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.services-icon {
    color: yellow;
    font-size: 48px;
}

/* OUR PORTFOLIO */

.portfolio .box img {
    width: 300px;
  }
